<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='examenes_style.css')}}">
    <title>Exámenes</title>
</head>
<body>
    <div class="container1" id="nav">
        <header>
            <nav class="d-flex justify-content-between align-items-center"> 
                <h3>Bienvenid@, {{user.nombres}} </h3>
                <a href="/dashboard" class="btn btn-info m-4"><img src="{{url_for('static', filename='images/perfil.png')}}" alt="perfil" class="icono" />Mi Perfil</a>
                <a href="/" class="btn btn-secondary m-4"><img src="{{url_for('static', filename='images/salida.png')}}" alt="salida" class="icono" />Salida Segura</a>
            </nav>
        </header>
        <main>
            <div class="row">
                <div class="col-8" id="dates">
                    <div class="d-flex justify-content-evenly align-items-center">
                        <h3>Exámenes de Laboratorio</h3>
                        <a href="/nuevo_examen" class="btn btn-success m-4"><img src="{{url_for('static', filename='images/exam.jpg')}}" alt="examenes" class="icono" />Agregar Examen de Laboratorio</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <input type="hidden" value="{{user.id}}" name="user_id">
                    <input type="hidden" value="{{examenes.id}}" name="id">
                    <table id= "table" class="table table-hover responsive">
                        <theader>
                            <tr class="color">
                                <th>Fecha</th>
                                <th>Descripción / Nombre del examen</th>
                                <th>Documento</th>
                                <th>Acciones</th>
                            </tr>
                        </theader>
                        <tbody>
                            {% for examen in examenes %}
                                <tr class="table align-middle">
                                    <td>{{examen.fecha}}</td>
                                    <td>{{examen.descripcion}}</td>
                                    <td><a href="{{url_for ('static', filename='documento/'+examen.documento)}}" download><img src="{{url_for('static', filename='images/pdf.png')}}" alt="pdf" class="pdf"/><br>Descargar</a></td>
                                    <td>
                                        <a href="/editar_lab/{{examen.id}}" class="boton" >Editar</a>
                                        <a href="/borrar_lab/{{examen.id}}" class="boton1">Borrar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>       
                </div>
            </div>
            
        </main>
        
    </div>
</body>

</html>